@import "tailwindcss";
@import './base.css';

@theme {
  --color-primary: #41B9D5;
  --color-secondary: #FCFBFF;
}

#app {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  overflow-y: auto; 
}